* {
    box-sizing: border-box;
}

.table-cell:nth-child(1) {
    background: wheat;
}

.table-cell:nth-child(2) {
    background: blue
}

.table-cell:nth-child(3) {
    background: red
}

@media (min-width: 40em) {
    .table-header {
        display: table;
        width: 100%;
    }

    .table-body {
        /*display: table;*/
        position: relative;
        width: 100%;
        max-height: 800px;
        overflow-y: scroll;
    }

    .table-row, .table-header-row {
        display: table-row;
    }

    .table-cell, .table-header-cell {
        display: table-cell;
        padding: 1rem;
        border: 1px solid black;
    }
}

.inlay {
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.5rem 0 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}